/* Careerpg */
.cardside_font {
  background-color: #263cce;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.btn-41 {
  border: 2px solid #6089c0;
  z-index: 1;
  color: blue;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background-color: #6089c0;

  // background: rgb(255, 255, 255);
  // background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

.why_choose_career_content {
  background-color: #8f9fcf;
  color: white;
}

.custom-bullet-list {
  list-style-type: disc; /* Use 'disc' for bullet points */
  background-color: transparent; /* Remove the background color */
  padding-left: 0; /* Remove padding for the unordered list */
  margin-left: 10px; /* Remove margin for the unordered list */
}

.custom-bullet-list p {
  margin-top: 5px; /* Add some spacing between the heading and the paragraph */
}
.opportunities_container {
  background-color: #cb574f;
}

/* Hide Scroll Bar */

.overflow-scroll {
  overflow: hidden; /* Hide both horizontal and vertical scroll bars */
}

.table-without-scrollbar {
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* Hide Firefox scroll bar */
  -ms-overflow-style: none; /* Hide IE/Edge scroll bar */
}

.table-without-scrollbar::-webkit-scrollbar {
  width: 0; /* Hide Chrome/WebKit scroll bar */
}

.form_height {
  height: 100%;
}

.google_btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #2c444e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.google_btn > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.google_btn > span {
  margin-left: 10px;
}

.Image_Icon {
  font-size: 75px;
}

.remove-photo {
  position: absolute;
  top: -10;
    right: 0;
}
