/* Careerpg */
.cardside_font {
  background-color: #263cce;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.btn-41 {
  border: 2px solid #6089c0;
  z-index: 1;
  color: blue;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background-color: #6089c0;

  // background: rgb(255, 255, 255);
  // background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

.why_choose_career_content {
  background-color: #8f9fcf;
  color: white;
}

.custom-bullet-list {
  list-style-type: disc; /* Use 'disc' for bullet points */
  background-color: transparent; /* Remove the background color */
  padding-left: 0; /* Remove padding for the unordered list */
  margin-left: 10px; /* Remove margin for the unordered list */
}

.custom-bullet-list p {
  margin-top: 5px; /* Add some spacing between the heading and the paragraph */
}
.opportunities_container {
  background-color: #cb574f;
}
